# Auth
BETTER_AUTH_SECRET=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Cloudinary
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# AI Services
NOVA_3_WORKER_URL=
AURA_2_EN_WORKER_URL=
GLM_WORKER_URL=
FLUX_KLEIN_WORKER_URL=
CLOUDFLARE_API_KEY=

# Resend
RESEND_API_KEY=

# Inngest
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=